.buscartodos-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-color;
  padding: 1.3rem;
  border-radius: 10px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.681);
  h2 {
    font-family: $primary-font;
  }

  .tabla-container {
    margin: 1rem;
    font-family: $primary-font;
    margin: 1rem 0;
    text-align: center;
    table {
      border: 1px inset;
      thead {
        th {
          background-color: $secondary-color;
          padding: 12px 15px;
        }
      }
      tbody {
        tr {
          td {
            padding: 1rem;
          }
        }
      }
    }
  }
  .btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .btn-modificareliminar {
    background-color: white;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
