.titulo {
  margin-bottom: 2rem;
  background-color: $primary-color;
  width: 100%;
  padding: 1.8rem;
  border-radius: 10px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.681);

  h1 {
    font-family: $primary-font;
    color: white;
    text-align: center;
    filter: drop-shadow(5px 5px 5px rgb(41, 47, 49));
  }
}
